<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="VdlParser.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <VdlParser.Properties.Settings>
            <setting name="LogFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="HandPeakDetector" serializeAs="String">
                <value />
            </setting>
            <setting name="GazePeakDetector" serializeAs="String">
                <value />
            </setting>
            <setting name="HandDataSource" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GazeDataSource" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MaxHandGazeDelay" serializeAs="String">
                <value>1500</value>
            </setting>
            <setting name="BlinkDetector" serializeAs="String">
                <value />
            </setting>
            <setting name="BlinkShape" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TimestampSource" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="QuantileThreshold" serializeAs="String">
                <value>0.1</value>
            </setting>
            <setting name="BlinkDetector2" serializeAs="String">
                <value />
            </setting>
        </VdlParser.Properties.Settings>
    </userSettings>
</configuration>